@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    font-family: 'Acme', sans-serif;
}

header {
    text-align: center;
}

body {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navBar {
    text-align: center;
}

#navBar ul {
    justify-content: center;
    align-items: center;
    list-style: none;    
}

#navBar ul li {
    float: left;
    font-size: 25px;
    text-shadow: 2px 2px 2px;
}

@media (min-width: 700px) and (orientation: landscape) {
    #navBar ul li {
        font-size: 35px;
    }
}        

#navBar a {
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

@media only screen and (max-width: 600px) {
    #description {
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        width: 25%;
        height: 100%;
    }
}

#description {
    text-align: center;
    margin-top: 50px;
    margin-left: 600px;
    font-size: 50px;
    color: rgb(1, 19, 20);
    background-color: white;
    width: 35%;
    border-radius: 15px;
}

.signUpForm, .signInForm {
    background-color: rgb(55, 221, 243);
    max-width: 250px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 15px;
    border-color:rgb(25, 133, 141);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

@media (min-width: 700px) and (orientation: landscape) {
    .signUpForm, .signInForm {
        margin-top: 5%;
    }
}

h1 {
    text-align: center;
}

label {
    display: block;
}

input {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #c4c4c4;
    width: 240px;
    border-radius: 5px;
  }

input:focus {
    outline: none;
}  

#record, #signInBtn {
    margin-left: 36%;
}

.question {
    text-align: center;
}

button {
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(21, 174, 185);
    border: rgba(0, 0, 0, 0.2);
}