@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap'); 

* {
    font-family: "Irish Grover";
}

body {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

header {
    display: flex;
}

p {
    text-align: center;
    margin-top: 50px;
    font-size: 22px;
    font-family: "Irish Grover";
    color: rgb(16, 95, 243);
    background-color: white;
    max-width: 300px;
    border-radius: 15px;
}

.signUpForm {
    display: flex;
    background-color: white;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 15px;
}

h1 {
    text-align: center;
}

label {
    display: block;
}

input {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #c4c4c4;
    width: 240px;
  }

input:focus {
    outline: none;
}  

#record {
    margin-left: 30%;
}

.question {
    text-align: center;
}

button {
    font-size: 15px;
}